<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form id="auth" method="post">
Username:</br><input form="auth" type="text" name="username"><br>
Password:</br><input form="auth" type="text" name="password"><br>
<button type="submit" form="auth">Login</button>
    <a href="/signup">signup</a>
</form>

</body>
</html>
