<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form id="auth" method="post">

    Username:</br><input form="auth" type="text" name="username"><br>
    Password:</br><input form="auth" type="text" name="password"><br>
    <button type="submit" form="auth">Signup</button>
    <a href="/login">login</a>
</form>
</body>
</html>
